{% extends "layout.html" %}
{% from "resource_table.html" import resource_table %}
{% block header_css %}
  <head>
      <title>Add Darts</title>
  </head>
  {{ super() }}
{% endblock %}
{% block body %}
  <div class="col-md-2 col-sm-2">
    {{ resource_table(player) }}
  </div>
  <div class="col-md-9 col-sm-9">
    <form class="form-horizontal col-sm-5" method="post">
    <div class="form-group">
      <label for=wins class="col-sm-2 control-label">Wins</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="wins" placeholder="Wins" name="wins">
      </div>
    </div>
    <div class="form-group">
      <label for=gotchas class="col-sm-2 control-label">Gotchas</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="gotchas" placeholder="Gotchas" name="gotchas">
      </div>
    </div>
    <div class="form-group">
      <label for=bulls class="col-sm-2 control-label">Bulls</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="bulls" placeholder="Bulls" name="bulls">
      </div>
    </div>
    <div class="form-group">
      <label for=game_type class="col-sm-2 control-label">Game</label>
      <div class="col-sm-10">
        <select class="form-control" id="game_type" name="game_type">
          <option selected>301</option>
          <option>Cricket</option>
          <option>Other</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
  </div>
{% endblock body %}
