{% extends "layout.html" %}
{% from "resource_table.html" import resource_table %}
{% block header_css %}
  <head>
      <title>Build Tools</title>
  </head>
  {{ super() }}
{% endblock %}
{% block body %}
  <div class="col-md-2 col-sm-2">
    {{ resource_table(player) }}
  </div>
  <div class="col-md-9 col-sm-9">
    <button class="btn btn-primary btn-default" type='button' data-tool="Axe" data-toggle='tooltip' onclick='build(this);'>Build Axe</button>
  </div>
{% endblock body %}
{% block js_bottom %}
  {{ super() }}
  <script type="application/javascript">
    {% include '/js/build.js' %}
  </script>
{% endblock js_bottom %}
