{% extends "layout.html" %}
{% block header_css %}
  <head>
      <title>Build Buildings</title>
  </head>
  {{ super() }}
  <link rel="stylesheet" href="/static/DataTables-1.10.11/media/css/dataTables.bootstrap.min.css">

{% endblock %}
{% block body %}
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Production per tick</th>
        <th>Progress toward tick</th>
        <th>Production per day</th>
        <th>Cost</th>
        <th>Count</th>
        <th>Used Space</th>
        <th>Build</th>
      </tr>
    </thead>
    <tbody>
    {% for building in player.ordered_buildings %}
      <tr>
        <td style="vertical-align:middle">
          <img src="/static/img/resources/{{ building.name }}.png" style="width:50px;height:50px; padding-bottom: 5px"> <span>{{ building.name }}</span>
        </td>
        <td style="vertical-align:middle">
          {% for resource in building.production_per_tick %}
            <img src="/static/img/resources/{{resource.name}}.png" style="width:30px;height:30px; padding-bottom: 5px"> <span>x {{ resource.count }}</span>
          {% endfor %}
        </td>
        <td style="vertical-align:middle">
          {% set progress = (100 * building.seconds_since_last_tick) / building.seconds_between_ticks %}
          <div class="progress">
            <div class="progress-bar tick-progress" role="progressbar" aria-valuenow="{{ progress }}"
              aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%"
              data-seconds_since_last_tick="{{building.seconds_since_last_tick}}"
              data-seconds_between_ticks="{{ building.seconds_between_ticks}}"
              data-production_per_tick="{{ building.production_per_tick_json_dict }}">
              {{ building.seconds_since_last_tick }} / {{ building.seconds_between_ticks }}
            </div>
          </div>
        </td>
        <td style="vertical-align:middle">
          {% for resource in building.production_per_tick %}
            <img src="/static/img/resources/{{resource.name}}.png" style="width:30px;height:30px; padding-bottom: 5px"> <span>x {{ resource.count * building.ticks_per_day }}</span>
          {% endfor %}
        </td>
        {% set designated_space = building.get_total_designated_space(map) %}
        <td style="vertical-align:middle">
          {% for resource in building.get_cost(map) %}
            <img src="/static/img/resources/{{resource.name}}.png" style="width:30px;height:30px; padding-bottom: 5px"> <span>x {{ resource.count }}</span>
          {% endfor %}
          {% if building.total_space_in_use >= designated_space %}
            <span style="color: darkred; font-size: x-large" data-toggle="tooltip" title="Cost increased because no suitable tiles are assigned to this building">*</span>
          {% endif %}
        </td>
        <td style="vertical-align:middle">
          <span id="resource-{{building.name}}">{{ building.count }}</span>
        </td>
        <td style="vertical-align:middle">
          {% if designated_space > 0 %}
            {% set percent_of_space_in_use = 100 * building.total_space_in_use / designated_space %}
          {% else %}
            {% set percent_of_space_in_use = 100 %}
          {% endif %}
          {% if percent_of_space_in_use >= 100 %}
            {% set extra_class = 'progress-bar-danger' %}
          {% else %}
            {% set extra_class = '' %}
          {% endif %}
          <div class="progress">
            <div class="progress-bar {{ extra_class }}" role="progressbar" aria-valuenow="{{ percent_of_space_in_use }}"
              aria-valuemin="0" aria-valuemax="100" style="width: {{ percent_of_space_in_use }}%">
              {{ building.total_space_in_use }} / {{ designated_space }}
            </div>
          </div>
        </td>
        <td style="vertical-align:middle">
          {% set percent_of_cost_available = player.percent_of_cost_available(building.get_cost(map)) %}
          {% if percent_of_cost_available >= 100 %}
            <button class="btn btn-success" type='button' style="width: 100%" data-count=1 data-building="{{ building.name }}" data-toggle='tooltip' onclick='build(this);'>Build {{ building.name }}</button>
          {% else %}
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ percent_of_cost_available }}"
              aria-valuemin="0" aria-valuemax="100" style="width: {{ percent_of_cost_available }}%">
              {{ percent_of_cost_available }}%
            </div>
          </div>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock body %}}
{% block js_bottom %}
  {{ super() }}
  <script src="/static/DataTables-1.10.11/media/js/jquery.dataTables.min.js"></script>
  <script src="/static/DataTables-1.10.11/media/js/dataTables.bootstrap.min.js"></script>

  <script type='application/javascript'>
    {% include '/js/build_buildings.js' %}
  </script>
{% endblock %}
