{% extends "layout.html" %}
{% block header_css %}
  <head>
      <title>Build Buildings</title>
  </head>
  {{ super() }}
  <link rel="stylesheet" href="/static/DataTables-1.10.11/media/css/dataTables.bootstrap.min.css">

{% endblock %}
{% block body %}
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Production per tick</th>
        <th>Ticks per day</th>
        <th>Cost</th>
        <th>Count</th>
        <th>Used Space</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for building in player.ordered_buildings %}
      <tr>
        <td style="vertical-align:middle">
          <img src="/static/img/resources/{{ building.name }}.png" style="width:50px;height:50px; padding-bottom: 5px"> <span>{{ building.name }}</span>
        </td>
        <td style="vertical-align:middle">
          {% for resource in building.production_per_tick %}
            <img src="/static/img/resources/{{resource.name}}.png" style="width:30px;height:30px; padding-bottom: 5px"> <span>x {{ resource.count }}</span>
          {% endfor %}
        </td>
        <td style="vertical-align:middle">{{ building.ticks_per_day }}</td>
        {% set designated_space = building.get_total_designated_space(map) %}
        <td style="vertical-align:middle">
          {% for resource in building.get_cost(map) %}
            <img src="/static/img/resources/{{resource.name}}.png" style="width:30px;height:30px; padding-bottom: 5px"> <span>x {{ resource.count }}</span>
          {% endfor %}
          {% if building.total_space_in_use >= designated_space %}
            <span style="color: darkred; font-size: x-large" data-toggle="tooltip" title="Cost increased because no suitable tiles are assigned to this building">*</span>
          {% endif %}
        </td>
        <td style="vertical-align:middle">
          <span id="resource-{{building.name}}">{{ building.count }}</span>
        </td>
        <td style="vertical-align:middle">
          <span>{{ building.total_space_in_use }} / {{ designated_space }} </span>
        </td>
        <td style="vertical-align:middle"><button class="btn btn-primary btn-default" type='button' data-count=1 data-building="{{ building.name }}" data-toggle='tooltip' onclick='build(this);'>Build {{ building.name }}</button></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock body %}}
{% block js_bottom %}
  {{ super() }}
  <script src="/static/DataTables-1.10.11/media/js/jquery.dataTables.min.js"></script>
  <script src="/static/DataTables-1.10.11/media/js/dataTables.bootstrap.min.js"></script>

  <script type='application/javascript'>
    {% include '/js/build_buildings.js' %}
  </script>
{% endblock %}
