{% extends "layout.html" %}
{% block header_css %}
  <head>
      <title>Build Tools</title>
  </head>
  {{ super() }}
{% endblock %}
{% block body %}
  <div class="row">
    <div class="col-md-3 col-sm-3">
      <h4>Resources</h4>
      {% set organized_resources = player.organized_resources %}
      {% for resource_type in ["basic", "tool", "earned"] %}
        {% set resources = organized_resources.get(resource_type, []) %}
        <h5>{{ resource_type | capitalize }}s</h5>
        {% for resource in resources %}
          <img src="/static/img/resources/{{resource.name}}.png" style="width:30px;height:30px;">  {{ resource.name }}: <span id="resource-{{resource.name}}">{{ resource.count }}</span><br>
        {% endfor %}
      {% endfor %}
    </div>
    <div class="col-sm-6 col-md-6">
      <button class="btn btn-primary btn-default" type='button' data-tool="axe" data-toggle='tooltip' onclick='build(this);'>Build Axe</button>
    </div>
    <div class="col-md-3 col-sm-3"></div>
  </div>
{% endblock body %}
{% block js_bottom %}
  {{ super() }}
  <script type="application/javascript">
    {% include '/js/build.js' %}
  </script>
{% endblock js_bottom %}
