{% extends "layout.html" %}
{% block header_css %}
  <head>
      <title>Followers</title>
  </head>
  {{ super() }}
  <link rel="stylesheet" href="/static/DataTables-1.10.11/media/css/dataTables.bootstrap.min.css">

{% endblock %}
{% block body %}

  <div id="reactContainer"></div>
  <div class="modal fade" id="followerModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Perform Follower Action</h4>
        </div>
        <div class="modal-body">
          <select class="form-control" id="">
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

{% endblock body %}}
{% block js_bottom %}
  {{ super() }}
  <script src="/static/DataTables-1.10.11/media/js/jquery.dataTables.min.js"></script>
  <script src="/static/DataTables-1.10.11/media/js/dataTables.bootstrap.min.js"></script>

  <script src="/static/babel-6.22.1/babel.min.js"></script>
  <script src="/static/react-15.3.2/react.min.js"></script>
  <script src="/static/react-15.3.2/react-dom.min.js"></script>
  <script type="text/babel">
    {% include '/js/build_buildings_2/CountComponent.js' %}
    {% include '/js/build_buildings_2/SpanCountComponentWithName.js' %}
    {% include '/js/babel_helpers.js' %}
    {% include '/js/FollowerRow.js' %}
    {% include '/js/FollowerTable.js' %}
  </script>
{% endblock %}
