<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block header_css %}
      <link rel="stylesheet" type="text/css" media="screen" href="/static/bootstrap3/css/bootstrap.css">
      <link rel="stylesheet" type="text/css" media="screen" href="/static/bootstrap-notifications.css">
      <link rel="stylesheet" type="text/css" media="screen" href="/static/custom.css">
      <style type="text/css"> body { padding-top: 60px; padding-bottom: 40px; } </style>
      <link rel="icon" type="image/ico" href="/static/img/Bitz.jpg">
    {% endblock header_css %}
  </head>
  <body style="padding: 65px 25px">
    <!-- Start NavBar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="page-nav">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href='/home/'>Home</a>
        </div>
        <!-- Start Drowdown Menu If Logged In -->
        <ul class="nav navbar navbar-nav">
          <li class='dropdown top-level-nav'>
            <a class='dropdown-toggle' data-toggle='dropdown' role='button'>
              Maps <span class='caret'></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/map/Earth/E0000x0000/">Earth</a></li>
            </ul>
          </li>
          <li class='dropdown top-level-nav'>
            <a class='dropdown-toggle' data-toggle='dropdown' role='button'>
              Build <span class='caret'></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/build/buildings/">Buildings</a></li>
              <li><a href="/build/tools/">Tools</a></li>
            </ul>
          </li>
          <li class="top-level-nav"><a href="/transactions/">Transactions</a></li>
          <li class="top-level-nav"><a href="/medals/">Medals</a></li>
          <li class='dropdown top-level-nav'>
            <a class='dropdown-toggle' data-toggle='dropdown' role='button'>
              Data Entry<span class='caret'></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/data_entry/darts/">Darts</a></li>
              <li><a href="/data_entry/pool/">Pool</a></li>
            </ul>
          </li>
          <li class="dropdown dropdown-notifications ">
            {% set notifications = player.get_recent_notifications() %}
            {% set unread_notification_count = player.get_recent_unread_notifications() | length %}

            <a class='dropdown-toggle' data-toggle='dropdown' role='button' id="notifications-button">
              <i data-count="{{ unread_notification_count }}" class="glyphicon glyphicon-bell notification-icon"></i>
            </a>

            <div class="dropdown-container" id="notifications-panel">

              <div class="dropdown-toolbar">
                <!--<div class="dropdown-toolbar-actions">-->
                  <!--<a href="#markAllNotificationsAsRead">Mark all as read</a>-->
                <!--</div>-->
                <h3 class="dropdown-toolbar-title">Notifications {{ unread_notification_count }}</h3>
              </div><!-- /dropdown-toolbar -->

              <ul class="dropdown-menu dropdown-menu-right">
                  {% for notification in notifications %}
                    <li class="notification" data-id="{{ notification.key.id() }}">
                      <div class="row">
                        <div class="col-sm-3">
                          <div class="media">
                            <div class="media-left">
                              <div class="media-object">
                                <img src="/static/img/{{notification.icon_path}}" class="img-circle" alt="Name" style="width:100%">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-9">
                          <div class="media-body">
                            <strong class="notification-title">{{ notification.title }}</strong>

                            <p class="notification-desc">{{ notification.message }}</p>

                            <div class="notification-meta">
                              <small class="timestamp">{{ notification.time }}</small>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  {% endfor %}
              </ul>

              <!--<div class="dropdown-footer text-center">-->
                <!--<a href="#">View All</a>-->
              <!--</div>&lt;!&ndash; /dropdown-footer &ndash;&gt;-->

            </div><!-- /dropdown-container -->
          </li><!-- /dropdown -->
        </ul>
        <ul class="nav navbar-right navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
              {% if session.user %}
                {{ session.user.username }}
              {% endif %} <!-- endif session.user -->
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/user_profile/">Profile</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/logout/">Log Out</a></li>
            </ul>
          </li>
        </ul>
        <!-- Creates the dropdown menu when window gets small -->
        <div class="collapse navbar-collapse">
        </div>
      </div>
    </nav>
    <!-- End of NavBar -->

    <!-- Start the main page content -->
    <div class="row">
      <div class="col-md-2 col-sm-2">
        <h4>Resources</h4>
        {% set organized_resources = player.organized_resources %}
        {% for resource_type in ["basic", "earned"] %}
          {% set resources = organized_resources.get(resource_type, []) %}
          <h5>{{ resource_type | capitalize }}s</h5>
          {% for resource in resources %}
            <span style="padding-bottom: 5px">
              <img src="/static/img/resources/{{resource.name}}.png" style="width:30px;height:30px; padding-bottom: 5px">  {{ resource.name }}: <span id="resource-{{resource.name}}">{{ resource.count }}</span>
            </span>
            <br>
          {% endfor %}
        {% endfor %}
        {% set resources = organized_resources.get('follower', []) %}
        <h5>Followers</h5>
        {% for resource in resources %}
          {% if resource.count %}
            <span style="padding-bottom: 5px">
              <img src="/static/img/followers/{{resource.name}}.png" style="width:30px;height:39px; padding-bottom: 5px">  {{ resource.name }}: <span id="resource-{{resource.name}}">{{ resource.count }}</span>
            </span>
            <br>
          {% endif %}
        {% endfor %}
      </div>
      <div class="col-md-9 col-sm-9">
        {% block body %}{% endblock body%}
      </div>
    </div>
    <!-- End the main page content -->
  </body>

  {% block js_bottom %}{# Placed at the end of the document so the pages load faster #}
  <script src="/static/jquery-2.1.1.min.js"></script>
  <!-- Jquery UI must be loaded before bootstrap.js -->
  <script src="/static/jquery-ui-1.11.4/jquery-ui.min.js"></script>
  <script src="/static/bootstrap3/js/bootstrap.min.js"></script>
  <script type="application/javascript">
    {% include '/js/layout.js' %}
  </script>
  {% endblock js_bottom %}
</html>
