{% extends "layout.html" %}
{% from "resource_table.html" import resource_table %}
{% block header_css %}
  <head>
      <title>Map</title>
  </head>
  {{ super() }}
  <link rel="stylesheet" href="/static/select2-3.5.4/select2.css"/>
  <link rel="stylesheet" href="/static/select2-3.5.4/select2-bootstrap.css"/>
{% endblock %}
{% block body %}
  <div class="col-md-2 col-sm-2">
    {{ resource_table(player) }}
  </div>
  <div class="col-md-9 col-sm-9">
    <div class="row">
    <div class="row center">
      <h2>Map - {{location.name }}</h2>
    </div>
    <table id="location-table" class="center" style="height: 700px; background-color:#8d8989" border="1" bordercolor="FFFFFF" data-location-id="{{ location.key.id()}}">
      {% set tiles_per_row = location.tiles_per_row %}
      {% set width = 80 / tiles_per_row %}
      <tr>
        {% for tile in tiles %}
          {% set index = loop.index - 1 %}
          {% if tile.is_explored %}
            {% set background = "/static/img/tiles/" + tile.name | replace(' ', '') + ".png" %}
          {% else %}
            {% set background =  "/static/img/tiles/Fog.png" %}
          {% endif %}
          {% if index != 0 and index % tiles_per_row == 0 %}
            </tr><tr>
          {% endif %}
          <td width='{{ width }}%' style="padding:10px; background-size: 100%; background-image:url('{{ background }}')" id="td-{{ tile.key.id()}}">
            {% if not tile.is_explored %}
              <div class="text-center">
                <button style='background-color: #6B6A68; border: none' class="btn btn-xs btn-default glyphicon glyphicon-search" type='button' data-toggle='modal'
                 title='explore' data-tile-str-coord="{{ tile.str_coordinate }}"
                 data-tile-id="{{ tile.key.id() }}" data-tile-cost="{{ tile.cost_to_explore[0].count }}"
                 data-tile-distance=" {{ tile.distance_from_middle }}"
                 data-target="#exploreModal"></button>
              </div>
            {% elif tile.building %}
              <div class="text-center">
                <img src="/static/img/resources/{{ tile.building }}.png" width=90% style="background-color:white;">
              </div>
            {% elif tile.available_building_names %}
              <button class="btn btn-xs btn-primary glyphicon glyphicon-wrench" type='button' data-toggle='modal'
                 title='build' data-tile-id="{{ tile.key.id() }}" data-available-buildings="{{tile.available_building_names | join(',') }}"
                 data-target="#buildModal"></button>
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    </table>
    <div class="modal fade" id="buildModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Build</h4>
          </div>
          <div class="modal-body">
            <select class="form-control" id="building-select">
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="build(this)">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade" id="exploreModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Explore</h4>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Take me back!</button>
            <button type="button" class="btn btn-primary" onclick="explore(this)">Lets do it!</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>
  </div>
{% endblock body %}
{% block js_bottom %}
  {{ super() }}
  <script src="/static/select2-3.5.4/select2.min.js"></script>
  <script type="application/javascript">
    {% include '/js/map.js' %}
  </script>
{% endblock js_bottom %}
