{% extends "layout.html" %}
{% block header_css %}
  <head>
      <title>Map</title>
  </head>
  {{ super() }}
{% endblock %}
{% block body %}
  <div class="row">
    <div class="col-md-3 col-sm-3">
      <h4>Resources</h4>
      {% for resource in player.resources %}
        <img src="/static/img/resources/{{resource.name}}.png" style="width:30px;height:30px;">  {{ resource.name }}: <span id="resource-{{resource.name}}">{{ resource.count }}</span><br><br>
      {% endfor %}
    </div>
    <div class="col-sm-6 col-md-6">
      <table id="location-table" class="center" style="height: 700px;" border="1" data-location-id="{{ location.key.id()}}">
        <tr>
          {% set tiles_per_row = location.tiles_per_row %}
          {% for tile in tiles %}
            {% if loop.index != 1 and loop.index % tiles_per_row == 1 %}
              </tr><tr>
            {% endif %}
            <td width="25%" style="padding:10px">
              {{ tile.name }}<br>
              {% for action in tile.actions %}
                <button class="{{ action.button_class }} btn-xs {{ action.icon_class }}" type='button' data-toggle='tooltip'
                   title='{{ action.name }}' data-action="{{ action.name }}" data-tile-position="{{ loop.index - 1 }}"
                   onclick="tileActionClick(this);"></button>
              {% endfor %}
            </td>
          {% endfor %}
        </tr>
      </table>
    </div>
    <div class="col-md-3 col-sm-3"></div>
  </div>
{% endblock body %}
{% block js_bottom %}
  {{ super() }}
  <script type="application/javascript">
    {% include '/js/map.js' %}
  </script>
{% endblock js_bottom %}
