{% extends "layout.html" %}
{% from "resource_table.html" import resource_table %}
{% block header_css %}
  <head>
    <title>Medals</title>
    <style>
      .total-resource-medal-icon {
        filter: invert(100%);
        left: 43%;
        top: 27%;
        max-width: 30px;
      }
      .total-earned-resource-medal-icon {
        left: 40%;
        top: 27%;
        max-width: 50px;
      }
      .exploration-medal-icon {
        left: 25%;
        top: 18%;
        max-width: 40px;
      }
    </style>
  </head>

  {{ super() }}
{% endblock %}
{% block body %}
  <div class="col-md-2 col-sm-2">
    {{ resource_table(player) }}
  </div>
  <div class="col-md-9 col-sm-9">
    <div class="row">
    <div class="row center">
      <h2>Medals - {{ player.name }}</h2>
    </div>
    <table id="medals-table" class="center" style="height: 700px;">
      {% set width = 95 / medals_per_row %}
      <tr>
        {% for medal in medals %}
          {% set index = loop.index - 1 %}
          {% if index != 0 and index % medals_per_row == 0 %}
            </tr><tr>
          {% endif %}
          {% set level, progress = medal.calculate_progress(player) %}
          {% set count = medal.get_count(player) %}
          {% set needed_count = medal.tiers[level - 1] %}
          {% set reward_title = medal.get_reward_description(level) %}
          <td width='{{ width }}%' align="center" style="padding: 10px; position: relative" data-toggle="tooltip" title="{{ reward_title }}">
            {% if medal.class_name == 'TotalResourceMedal' %}
              {% set icon_class = 'total-resource-medal-icon' %}
            {% elif medal.class_name == 'ExplorationMedal' %}
              {% set icon_class = 'exploration-medal-icon' %}
            {% else %}
              {% set icon_class = 'total-earned-resource-medal-icon' %}
            {% endif %}
            <img src="/static/img/medals/{{ medal.class_name }}-{{ level}}.png" width="80%" style="position: relative; top: 0; left: 0">
            <img src="/static/img/{{ medal.icon_path }}" style="position: absolute; width: 17%;" class="{{ icon_class }}">
            <span style="position: absolute; top: 13px; right:50px; font-size:large; font-weight: bold">{{ level }}</span>
            <br>
            <div class="text-center">
              <div style='height: 40px; display: block'>
                {{ medal.name }} (lvl {{ level}})
              </div>
              <div class="progress" data-toggle="tooltip" title="{{ count }} / {{ needed_count }}">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress }}"
                  aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%">
                  {{ progress }}%
                </div>
              </div>
            </div>
          </td>
        {% endfor %}
        {% set total_tds = (medals_per_row * medals_per_row) | int %}
        {% for x in range(0, total_tds - (medals|length)) %}
          <td style="padding: 10px"></td>
        {% endfor %}
      </tr>
    </table>

  </div>
  </div>
{% endblock body %}
{% block js_bottom %}
  {{ super() }}

{% endblock js_bottom %}
