{% macro resource_table(player) -%}
  <h4>Resources</h4>
  {% set organized_resources = player.organized_resources %}
  {% for resource_type in ["basic", "earned"] %}
    {% set resources = organized_resources.get(resource_type, []) %}
    <h5>{{ resource_type | capitalize }}s</h5>
    {% for resource in resources %}
      <span style="padding-bottom: 5px">
        <img src="/static/img/resources/{{resource.name}}.png" style="width:30px;height:30px; padding-bottom: 5px">  {{ resource.name }}: <span id="resource-{{resource.name}}">{{ resource.count }}</span>
      </span>
      <br>
    {% endfor %}
  {% endfor %}
  {% set resources = organized_resources.get('follower', []) %}
  <h5>Followers</h5>
  {% for resource in resources %}
    {% if resource.count and 'Scout' not in resource.name %}
      <span style="padding-bottom: 5px">
        <img src="/static/img/followers/{{resource.name}}.png" style="width:30px;height:39px; padding-bottom: 5px">  {{ resource.name }}: <span id="resource-{{resource.name}}">{{ resource.count }}</span>
      </span>
      <br>
    {% endif %}
  {% endfor %}
{% endmacro %}
